.container{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    flex-wrap: wrap-reverse; /*use to make container far responsive*/
}
.ch{
    height: 200px;
    width: 200px;
    background-color: rgb(96, 159, 25);
    border: 4px solid;
}
.ch1{
    background-color: blue;
}
.ch2{
    background-color: orange;
}
.ch3{
    background-color: cornflowerblue;
}